@page "/"

@inherits IndexBase


<h3>Looses</h3>

@if (Wells == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SfGrid DataSource="@Wells">
        <GridColumns>
            <GridColumn Field=@nameof(WellModel.Id) HeaderText="Id"/>
            <GridColumn Field=@nameof(WellModel.Name) HeaderText="Name"/>
        </GridColumns>
    </SfGrid>
}
 