@page "/"

@inherits IndexBase

<h3>Looses</h3>
<SfSpinner @bind-Visible="spinnerVisible" Label="Loading Data..." Size="50" Type="SpinnerType.Bootstrap4" />
 
@if (LossRecords != null && LossRecords.Any())
{
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" disabled="@spinnerVisible" @onclick="CalculateOffDays">Calculate Off Days</button>
    
    <SfGrid DataSource="@LossRecords" AllowPaging="true" AllowSorting="true" Toolbar="@(new List<string>() { "Search" })">
        <GridSearchSettings Fields="@(new[] { "WellName" })" Operator=Operator.Contains IgnoreCase="true" ></GridSearchSettings>
        <GridColumns>
            <GridColumn Field=@nameof(LossReadModel.Id) HeaderText="Id" />
            <GridColumn Field=@nameof(LossReadModel.WellName) HeaderText="WellName" />
            <GridColumn Field=@nameof(LossReadModel.EventName) HeaderText="EventName" />
            <GridColumn Field=@nameof(LossReadModel.LoosDate) HeaderText="LoosDate" />
            <GridColumn Field=@nameof(LossReadModel.DaysOffline) HeaderText="DaysOffline" />
        </GridColumns>
    </SfGrid> 
}
 